@model SchoolLatestProject.Models.Admission

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/SchoolLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="font-size:15px">
        <div class="panel panel-info">
            <div class="panel-heading" style="font-size:18px"><strong><span></span> Delete Student Admission </strong></div>
            <div class="panel-body">
                <div class="form-horizontal col-sm-12">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.Label("Full Name")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Student.FirstName)
                            @Html.DisplayFor(model => model.Student.MiddleName)
                            @Html.DisplayFor(model => model.Student.LastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AcademicYear)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AcademicYear)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Grade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Grade)
                        </dd>



                    </dl>



                </div>
            </div>
        </div>
    </div>



    <p>
        <div class="btn-group" style="margin-left:150px">
            <input type="submit" value="Delete" class="btn btn-grd-danger" />
        </div>
        <div class="btn-group" style="margin-left:0px">
            <button id="addRow" class="btn btn-grd-success">
                <i class="glyphicon glyphicon-list"></i> @Html.ActionLink("All Student Admission list", "Index")
            </button>
        </div>
    </p>

}
