@model SchoolLatestProject.Models.MarkList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/SchoolLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="font-size:15px">
        <div class="panel panel-info">
            <div class="panel-heading" style="font-size:18px"><strong><span></span> Add New Mark List </strong></div>
            <div class="panel-body">
                <div class="form-horizontal col-sm-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentID, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseID, "Course Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sesmester, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Sesmester, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sesmester, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AcademicYear, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AcademicYear, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AcademicYear, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mark, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Mark, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="margin-left:150px">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success" style="margin-left:0px;width:11%" />
                            <input type="reset" value="Cancel" class="btn btn-danger" style="margin-left:20px;width:11%" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    
}
<div class="btn-group" style="margin-left:150px">
    <button id="addRow" class="btn btn-mat">
        <i class="glyphicon glyphicon-list"></i> @Html.ActionLink("All Student List", "Index")
    </button>
</div>
