@using PagedList;
@using PagedList.Mvc;

@model IPagedList<SchoolLatestProject.Models.MarkList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SchoolLayout.cshtml";
}

<div class="col-md-6 col-sm-6 col-6">
    <div class="btn-group">
        <button id="addRow" class="btn btn-info">
            @Html.ActionLink("Add New", "Create") <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</div>

<div class="form-group" style="margin-top:70px">
    <div class="panel panel-info">
        <div class="panel-heading" style="font-size:16px;margin-left:25px"><strong><span></span> All Student Information</strong></div>
        <div class="panel-body">
            <div class="form-horizontal col-sm-12">
                <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" style="font-size:12px">
                    <tr>
                        <th>
                           Full Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().TblCours.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Sesmester)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().AcademicYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Mark)
                        </th>
                       
                       
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student.FirstName)
                                @Html.DisplayFor(modelItem => item.Student.MiddleName)
                                @Html.DisplayFor(modelItem => item.Student.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TblCours.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sesmester)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcademicYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mark)
                            </td>
                            
                            
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MarkListID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MarkListID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MarkListID })
                            </td>
                        </tr>
                    }

                </table>
                <div style="margin-left:600px">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
               new { page}),
               new PagedListRenderOptions()
               {
                   Display = PagedListDisplayMode.IfNeeded,
                   DisplayPageCountAndCurrentLocation = true,
                   DisplayItemSliceAndTotal = true
               })
                </div>
        </div>
    </div>
</div>
    </div>
