@model SchoolLatestProject.Models.Department

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/SchoolLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="font-size:15px">
        <div class="panel panel-info">
            <div class="panel-heading" style="font-size:18px"><strong><span></span>Edit Department </strong></div>
            <div class="panel-body">
                <div class="form-horizontal col-sm-12">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DepartmentID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.HeadDepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.HeadDepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HeadDepartmentName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TotalNoTeachers, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TotalNoTeachers, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TotalNoTeachers, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartmentDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.DepartmentDetails, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DepartmentDetails, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:150px">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-success" style="margin-left:0px;width:11%" />
                            <input type="reset" value="Cancel" class="btn btn-danger" style="margin-left:20px;width:11%" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
}
<div class="btn-group" style="margin-left:150px">
    <button id="addRow" class="btn btn-mat">
        <i class="glyphicon glyphicon-list"></i> @Html.ActionLink("All Department List", "Index")
    </button>
</div>